@import "var";
@import "section/header";
@import "section/intro";
@import "section/about-us";
@import "section/services";
@import "section/feedback";
@import "section/contacts";
@import "section/footer";

body {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.682%;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

b {
  font-size: 20px;
  font-weight: 700;
}

.container {
  max-width: 1210px;
}

.main {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

@media (max-width: 1200px) {
  .animated {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  b {
    font-size: 16px;
  }
}
