@charset "UTF-8";
.header {
  background-color: #000;
}
.header__wrapper {
  padding: 24px 0;
}
.header__collapse {
  justify-content: end;
  align-items: center;
}
.header__burger-icon {
  transition: all 1s ease-in-out;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25 ' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16' %3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z' /%3E%3C/svg%3E");
}
.header__burger-icon--active {
  transition: all 1s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}
.header__navbar-list {
  gap: 57px;
}
.header__navlink {
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.header__list-item {
  transition: all 1s ease-in-out;
}
.header__list-item:hover, .header__list-item:focus {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 10px 0;
  }
  .header__navbar-list {
    gap: 15px;
  }
  .header__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.intro__wrapper {
  margin-top: 126px;
}
.intro__video {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .intro__wrapper {
    margin-top: 98px;
  }
}

.about-us--1 {
  background: #01070f;
  position: relative;
  z-index: 5;
}
.about-us--1__wrapper {
  padding-top: 85px;
}
.about-us--1__title {
  margin-bottom: 55px !important;
}
.about-us--1__right {
  padding-right: 56px;
}
.about-us--1__textbox {
  position: relative;
}
.about-us--1__bg-1 {
  position: absolute;
  top: 130px;
  left: -260px;
  z-index: -1;
}
.about-us--1__bg-1::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='187' height='274' viewBox='0 0 187 274' fill='none' %3E%3Cpath d='M183 6C125.667 58 9.4 163.6 3 170L117 270L183 6Z' stroke='url(%23paint0_linear_1_157)' stroke-width='4' stroke-linecap='round' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_157' x1='93' y1='6' x2='93' y2='270' gradientUnits='userSpaceOnUse' %3E%3Cstop stop-color='%23008DD2' /%3E%3Cstop offset='1' stop-color='%234E59A2' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}
@media (max-width: 768px) {
  .about-us--1__wrapper {
    padding-top: 25px;
  }
  .about-us--1__title {
    margin-bottom: 0px !important;
  }
  .about-us--1__right, .about-us--1__left {
    padding: 0;
    margin: 1.5rem 0;
  }
}

.about-us--2 {
  background: #01070f;
  position: relative;
  z-index: 5;
}
.about-us--2__left {
  padding-left: 56px;
}
.about-us--2__bg-2 {
  position: absolute;
  right: 135px;
  top: -110px;
  z-index: -1;
}
@media (max-width: 768px) {
  .about-us--2__left {
    padding: 0;
    margin: 1.5rem 0;
  }
}

.about-us--3 {
  background: #01070f;
}
.about-us--3__right {
  padding-right: 56px;
}
.about-us--3__img {
  position: relative;
  z-index: 10;
}
.about-us--3__bg-3 {
  position: absolute;
  top: 380px;
  left: -230px;
  z-index: 1;
}
.about-us--3__bg-3::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='189' height='189' viewBox='0 0 189 189' fill='none'%3E%3Cpath d='M161 7L7 155L185 185L161 7Z' stroke='%23147FC5' stroke-width='6' stroke-linecap='round'/%3E%3C/svg%3E");
}
@media (max-width: 768px) {
  .about-us--3__right {
    padding: 0;
    margin: 1.5rem 0;
  }
  .about-us--3__wrapper {
    padding-bottom: 25px;
  }
}

.services {
  background: #01070f;
}
.services__wrapper {
  padding: 90px 0 95px;
}
.services__bg-1 {
  position: absolute;
  top: -110px;
  right: -300px;
  z-index: 5;
}
.services__bg-1::after {
  content: url("data:image/svg+xml,%3Csvg width='281' height='278' viewBox='0 0 281 278' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.333333 141C0.333333 146.891 5.10896 151.667 11 151.667C16.891 151.667 21.6667 146.891 21.6667 141C21.6667 135.109 16.891 130.333 11 130.333C5.10896 130.333 0.333333 135.109 0.333333 141ZM152.333 11C152.333 16.891 157.109 21.6667 163 21.6667C168.891 21.6667 173.667 16.891 173.667 11C173.667 5.10896 168.891 0.333333 163 0.333333C157.109 0.333333 152.333 5.10896 152.333 11ZM209 204L208.394 205.906L211.766 206.979L210.946 203.536L209 204ZM10.3936 142.906L208.394 205.906L209.606 202.094L11.6064 139.094L10.3936 142.906ZM210.946 203.536L164.946 10.5363L161.054 11.4637L207.054 204.464L210.946 203.536Z' fill='url(%23paint0_linear_1_154)'/%3E%3Cpath d='M279 22L27 276H279V22Z' stroke='%23147FC5' stroke-width='4' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_154' x1='110' y1='11' x2='110' y2='204' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23008DD2'/%3E%3Cstop offset='1' stop-color='%234E59A2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.services__bg-2 {
  position: absolute;
  top: 320px;
  left: -290px;
  z-index: 5;
}
.services__bg-2::after {
  content: url("data:image/svg+xml,%3Csvg width='249' height='405' viewBox='0 0 249 405' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 30L164 2L36 398V30Z' stroke='%23147FC5' stroke-width='2'/%3E%3Cpath d='M190 262L6 92H246L190 262Z' stroke='url(%23paint0_linear_1_150)' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M25.3333 394C25.3333 399.891 30.109 404.667 36 404.667C41.891 404.667 46.6667 399.891 46.6667 394C46.6667 388.109 41.891 383.333 36 383.333C30.109 383.333 25.3333 388.109 25.3333 394ZM177.333 264C177.333 269.891 182.109 274.667 188 274.667C193.891 274.667 198.667 269.891 198.667 264C198.667 258.109 193.891 253.333 188 253.333C182.109 253.333 177.333 258.109 177.333 264ZM37.2999 395.52L189.3 265.52L186.7 262.48L34.7001 392.48L37.2999 395.52Z' fill='url(%23paint1_linear_1_150)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_150' x1='126' y1='92' x2='126' y2='262' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23008DD2'/%3E%3Cstop offset='1' stop-color='%234E59A2'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1_150' x1='112' y1='264' x2='112' y2='394' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23008DD2'/%3E%3Cstop offset='1' stop-color='%234E59A2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.services__title {
  margin-bottom: 40px;
}
.services__list {
  position: relative;
  z-index: 6;
  counter-reset: item;
  list-style: none;
  padding-left: 0;
}
.services__list-item {
  position: relative;
  margin-bottom: 30px;
}
.services__list-item::before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: 45px;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 700;
  line-height: 122.682%;
}
.services__item-wrapper {
  position: relative;
  padding: 10px 20px 10px 60px;
  display: flex;
  align-items: center;
  min-height: 93px;
  height: 100%;
  border-radius: 21px;
  border: 1px solid #147fc5;
  background: #01070f;
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 5px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
  transition: box-shadow 1s ease-in-out;
}
.services__item-wrapper:hover, .services__item-wrapper:focus {
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 20px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
}
@media (max-width: 768px) {
  .services__wrapper {
    padding: 25px 0;
  }
}

.feedback {
  background: #000;
}
.feedback__wrapper {
  padding: 55px 0 100px;
}
.feedback__bg-1 {
  position: absolute;
  top: -180px;
  right: -300px;
  z-index: 5;
}
.feedback__bg-1::after {
  content: url("data:image/svg+xml,%3Csvg width='384' height='261' viewBox='0 0 384 261' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 135L8 245.831L118 217L36 135Z' stroke='%23147FC5' stroke-width='11.1692' stroke-linecap='round'/%3E%3Cpath d='M104.8 216.046C104.8 224.271 111.468 230.938 119.692 230.938C127.917 230.938 134.585 224.271 134.585 216.046C134.585 207.821 127.917 201.154 119.692 201.154C111.468 201.154 104.8 207.821 104.8 216.046ZM156.923 15C156.923 23.2248 163.591 29.8923 171.815 29.8923C180.04 29.8923 186.708 23.2248 186.708 15C186.708 6.77521 180.04 0.107693 171.815 0.107693C163.591 0.107693 156.923 6.77521 156.923 15ZM122.395 216.747L174.518 15.7008L169.113 14.2992L116.989 215.345L122.395 216.747Z' fill='%23147FC5'/%3E%3Cpath d='M175.539 15L34.0618 130.415L123.416 216.046L376.585 257L175.539 15Z' stroke='%23147FC5' stroke-width='5.58462' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.feedback__bg-2 {
  position: absolute;
  top: 170px;
  left: -220px;
  z-index: 5;
}
.feedback__bg-2::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='121' viewBox='0 0 112 121' fill='none'%3E%3Cpath d='M104.099 9.82867L11.5693 48.4604L89.66 110.519L104.099 9.82867Z' stroke='%23147FC5' stroke-width='11.1692' stroke-linecap='round'/%3E%3C/svg%3E");
}
.feedback__title {
  margin-bottom: 90px !important;
}
.feedback__card-wrapper {
  padding: 20px 20px 25px 25px;
  border-radius: 20px;
  border: 1px solid #008DD2;
  background: #FFF;
  color: #0D0802;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.feedback__card-header {
  margin-bottom: 17px;
}
.feedback__card-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.feedback__card-date {
  background: linear-gradient(180deg, #008DD2 0%, #4E59A2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}
.feedback__carousel-prev {
  width: 30px;
  height: 30px;
  top: -45px !important;
  left: 0 !important;
}
.feedback__carousel-next {
  width: 30px;
  height: 30px;
  top: -45px !important;
  left: 50px !important;
}
@media (max-width: 768px) {
  .feedback__wrapper {
    padding: 25px 0;
  }
  .feedback__title {
    margin-bottom: 50px !important;
  }
}

.contacts {
  background: #01070F;
}
.contacts__wrapper {
  padding: 75px 0;
}
.contacts__bg-1 {
  position: absolute;
  top: -180px;
  left: -410px;
  z-index: 5;
}
.contacts__title {
  margin-bottom: 60px;
}
.contacts__link {
  color: #FFF !important;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.contacts__text {
  padding-left: 17px;
  margin: 0;
}
@media (max-width: 768px) {
  .contacts__wrapper {
    padding: 25px 0;
  }
  .contacts__title {
    margin-bottom: 25px;
  }
  .contacts__link {
    font-size: 16px;
  }
}

.footer {
  background: #000;
}
.footer__wrapper {
  padding: 14px 0;
}
.footer__copyright {
  margin: 0;
}
.footer__link {
  color: #FFF !important;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-decoration-line: underline;
}

body {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.682%;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

b {
  font-size: 20px;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Изменение цвета фона */
::-webkit-scrollbar-track {
  background: #01070f;
}

/* Изменение цвета полосы */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  border-radius: 10px;
}

.container {
  max-width: 1210px;
  position: relative;
}

.main {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

@keyframes bg-1-anim-1 {
  0% {
    clip: rect(41px, 219px, 189px, 0);
  }
  3.3333333333% {
    clip: rect(168px, 219px, 52px, 0);
  }
  6.6666666667% {
    clip: rect(141px, 219px, 130px, 0);
  }
  10% {
    clip: rect(127px, 219px, 185px, 0);
  }
  13.3333333333% {
    clip: rect(132px, 219px, 188px, 0);
  }
  16.6666666667% {
    clip: rect(198px, 219px, 69px, 0);
  }
  20% {
    clip: rect(211px, 219px, 154px, 0);
  }
  23.3333333333% {
    clip: rect(227px, 219px, 79px, 0);
  }
  26.6666666667% {
    clip: rect(207px, 219px, 40px, 0);
  }
  30% {
    clip: rect(108px, 219px, 217px, 0);
  }
  33.3333333333% {
    clip: rect(181px, 219px, 173px, 0);
  }
  36.6666666667% {
    clip: rect(109px, 219px, 98px, 0);
  }
  40% {
    clip: rect(30px, 219px, 251px, 0);
  }
  43.3333333333% {
    clip: rect(113px, 219px, 201px, 0);
  }
  46.6666666667% {
    clip: rect(0px, 219px, 148px, 0);
  }
  50% {
    clip: rect(168px, 219px, 241px, 0);
  }
  53.3333333333% {
    clip: rect(10px, 219px, 146px, 0);
  }
  56.6666666667% {
    clip: rect(140px, 219px, 115px, 0);
  }
  60% {
    clip: rect(207px, 219px, 77px, 0);
  }
  63.3333333333% {
    clip: rect(193px, 219px, 155px, 0);
  }
  66.6666666667% {
    clip: rect(194px, 219px, 129px, 0);
  }
  70% {
    clip: rect(189px, 219px, 86px, 0);
  }
  73.3333333333% {
    clip: rect(72px, 219px, 55px, 0);
  }
  76.6666666667% {
    clip: rect(153px, 219px, 208px, 0);
  }
  80% {
    clip: rect(-11px, 219px, 27px, 0);
  }
  83.3333333333% {
    clip: rect(176px, 219px, 152px, 0);
  }
  86.6666666667% {
    clip: rect(32px, 219px, 51px, 0);
  }
  90% {
    clip: rect(-5px, 219px, 49px, 0);
  }
  93.3333333333% {
    clip: rect(162px, 219px, 119px, 0);
  }
  96.6666666667% {
    clip: rect(233px, 219px, 166px, 0);
  }
  100% {
    clip: rect(199px, 219px, 266px, 0);
  }
}
@keyframes bg-1-anim-2 {
  0% {
    clip: rect(209px, 219px, 164px, 0);
  }
  3.3333333333% {
    clip: rect(69px, 219px, 37px, 0);
  }
  6.6666666667% {
    clip: rect(22px, 219px, 262px, 0);
  }
  10% {
    clip: rect(191px, 219px, 114px, 0);
  }
  13.3333333333% {
    clip: rect(172px, 219px, 69px, 0);
  }
  16.6666666667% {
    clip: rect(20px, 219px, 60px, 0);
  }
  20% {
    clip: rect(29px, 219px, 67px, 0);
  }
  23.3333333333% {
    clip: rect(207px, 219px, 185px, 0);
  }
  26.6666666667% {
    clip: rect(92px, 219px, 188px, 0);
  }
  30% {
    clip: rect(181px, 219px, 249px, 0);
  }
  33.3333333333% {
    clip: rect(129px, 219px, 189px, 0);
  }
  36.6666666667% {
    clip: rect(188px, 219px, 262px, 0);
  }
  40% {
    clip: rect(197px, 219px, 186px, 0);
  }
  43.3333333333% {
    clip: rect(115px, 219px, 75px, 0);
  }
  46.6666666667% {
    clip: rect(64px, 219px, 261px, 0);
  }
  50% {
    clip: rect(118px, 219px, 273px, 0);
  }
  53.3333333333% {
    clip: rect(118px, 219px, 121px, 0);
  }
  56.6666666667% {
    clip: rect(127px, 219px, 258px, 0);
  }
  60% {
    clip: rect(168px, 219px, 150px, 0);
  }
  63.3333333333% {
    clip: rect(186px, 219px, 108px, 0);
  }
  66.6666666667% {
    clip: rect(188px, 219px, 22px, 0);
  }
  70% {
    clip: rect(22px, 219px, 84px, 0);
  }
  73.3333333333% {
    clip: rect(10px, 219px, 180px, 0);
  }
  76.6666666667% {
    clip: rect(212px, 219px, 93px, 0);
  }
  80% {
    clip: rect(8px, 219px, 207px, 0);
  }
  83.3333333333% {
    clip: rect(208px, 219px, 214px, 0);
  }
  86.6666666667% {
    clip: rect(93px, 219px, 104px, 0);
  }
  90% {
    clip: rect(34px, 219px, 249px, 0);
  }
  93.3333333333% {
    clip: rect(178px, 219px, 58px, 0);
  }
  96.6666666667% {
    clip: rect(20px, 219px, 200px, 0);
  }
  100% {
    clip: rect(1px, 219px, 210px, 0);
  }
}
.glitch-1 svg {
  position: absolute;
  top: 200px;
  left: 175px;
  fill: white;
  background: transparent;
  width: 219px;
  height: 254px;
}
.glitch-1 svg:nth-child(2),
.glitch-1 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-1 svg:nth-child(2) {
  fill: red;
  left: 173px;
  animation: bg-1-anim-1 2s infinite linear alternate-reverse;
}
.glitch-1 svg:nth-child(3) {
  fill: blue;
  left: 177px;
  animation: bg-1-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-2-anim-1 {
  0% {
    clip: rect(58px, 153px, 34px, 0);
  }
  3.3333333333% {
    clip: rect(45px, 153px, 85px, 0);
  }
  6.6666666667% {
    clip: rect(-19px, 153px, 68px, 0);
  }
  10% {
    clip: rect(138px, 153px, 137px, 0);
  }
  13.3333333333% {
    clip: rect(93px, 153px, 145px, 0);
  }
  16.6666666667% {
    clip: rect(113px, 153px, 179px, 0);
  }
  20% {
    clip: rect(141px, 153px, 166px, 0);
  }
  23.3333333333% {
    clip: rect(129px, 153px, 52px, 0);
  }
  26.6666666667% {
    clip: rect(-13px, 153px, 172px, 0);
  }
  30% {
    clip: rect(0px, 153px, 30px, 0);
  }
  33.3333333333% {
    clip: rect(34px, 153px, 68px, 0);
  }
  36.6666666667% {
    clip: rect(128px, 153px, 84px, 0);
  }
  40% {
    clip: rect(105px, 153px, 27px, 0);
  }
  43.3333333333% {
    clip: rect(107px, 153px, 94px, 0);
  }
  46.6666666667% {
    clip: rect(51px, 153px, 64px, 0);
  }
  50% {
    clip: rect(107px, 153px, 27px, 0);
  }
  53.3333333333% {
    clip: rect(11px, 153px, 22px, 0);
  }
  56.6666666667% {
    clip: rect(118px, 153px, 184px, 0);
  }
  60% {
    clip: rect(67px, 153px, 40px, 0);
  }
  63.3333333333% {
    clip: rect(103px, 153px, 73px, 0);
  }
  66.6666666667% {
    clip: rect(-5px, 153px, 124px, 0);
  }
  70% {
    clip: rect(1px, 153px, 161px, 0);
  }
  73.3333333333% {
    clip: rect(141px, 153px, 130px, 0);
  }
  76.6666666667% {
    clip: rect(-2px, 153px, 109px, 0);
  }
  80% {
    clip: rect(110px, 153px, 156px, 0);
  }
  83.3333333333% {
    clip: rect(30px, 153px, 48px, 0);
  }
  86.6666666667% {
    clip: rect(103px, 153px, 159px, 0);
  }
  90% {
    clip: rect(135px, 153px, 97px, 0);
  }
  93.3333333333% {
    clip: rect(151px, 153px, 32px, 0);
  }
  96.6666666667% {
    clip: rect(43px, 153px, 110px, 0);
  }
  100% {
    clip: rect(88px, 153px, 59px, 0);
  }
}
@keyframes bg-2-anim-2 {
  0% {
    clip: rect(91px, 153px, 22px, 0);
  }
  3.3333333333% {
    clip: rect(147px, 153px, 53px, 0);
  }
  6.6666666667% {
    clip: rect(111px, 153px, 180px, 0);
  }
  10% {
    clip: rect(123px, 153px, 67px, 0);
  }
  13.3333333333% {
    clip: rect(89px, 153px, 154px, 0);
  }
  16.6666666667% {
    clip: rect(116px, 153px, 174px, 0);
  }
  20% {
    clip: rect(43px, 153px, 129px, 0);
  }
  23.3333333333% {
    clip: rect(24px, 153px, 85px, 0);
  }
  26.6666666667% {
    clip: rect(23px, 153px, 174px, 0);
  }
  30% {
    clip: rect(28px, 153px, 35px, 0);
  }
  33.3333333333% {
    clip: rect(108px, 153px, 155px, 0);
  }
  36.6666666667% {
    clip: rect(29px, 153px, 95px, 0);
  }
  40% {
    clip: rect(98px, 153px, 69px, 0);
  }
  43.3333333333% {
    clip: rect(60px, 153px, 168px, 0);
  }
  46.6666666667% {
    clip: rect(86px, 153px, 68px, 0);
  }
  50% {
    clip: rect(63px, 153px, 88px, 0);
  }
  53.3333333333% {
    clip: rect(141px, 153px, 166px, 0);
  }
  56.6666666667% {
    clip: rect(94px, 153px, 46px, 0);
  }
  60% {
    clip: rect(-9px, 153px, 21px, 0);
  }
  63.3333333333% {
    clip: rect(57px, 153px, 52px, 0);
  }
  66.6666666667% {
    clip: rect(67px, 153px, 148px, 0);
  }
  70% {
    clip: rect(61px, 153px, 88px, 0);
  }
  73.3333333333% {
    clip: rect(1px, 153px, 52px, 0);
  }
  76.6666666667% {
    clip: rect(75px, 153px, 114px, 0);
  }
  80% {
    clip: rect(84px, 153px, 159px, 0);
  }
  83.3333333333% {
    clip: rect(50px, 153px, 115px, 0);
  }
  86.6666666667% {
    clip: rect(80px, 153px, 123px, 0);
  }
  90% {
    clip: rect(58px, 153px, 29px, 0);
  }
  93.3333333333% {
    clip: rect(102px, 153px, 61px, 0);
  }
  96.6666666667% {
    clip: rect(89px, 153px, 87px, 0);
  }
  100% {
    clip: rect(38px, 153px, 177px, 0);
  }
}
.glitch-2 svg {
  position: absolute;
  top: 200px;
  left: 175px;
  fill: white;
  background: transparent;
  width: 153px;
  height: 177px;
}
.glitch-2 svg:nth-child(2),
.glitch-2 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-2 svg:nth-child(2) {
  fill: red;
  left: 173px;
  animation: bg-2-anim-1 2s infinite linear alternate-reverse;
}
.glitch-2 svg:nth-child(3) {
  fill: blue;
  left: 177px;
  animation: bg-2-anim-2 3s infinite linear alternate-reverse;
}

@media (max-width: 1200px) {
  .animated,
  .animated-logo {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  b {
    font-size: 16px;
  }
}