@charset "UTF-8";
.header {
  background-color: #000;
}
.header__wrapper {
  padding: 24px 0;
}
.header__collapse {
  justify-content: end;
  align-items: center;
}
.header__burger-icon {
  transition: all 0.5s ease-in-out;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25 ' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16' %3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z' /%3E%3C/svg%3E");
}
.header__burger-icon--active {
  transition: all 0.5s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}
.header__navbar-list {
  gap: 57px;
}
.header__navlink {
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.header__list-item {
  transition: all 1s ease-in-out;
  background: transparent;
}
.header__list-item:hover, .header__list-item:focus {
  transform: scale(1.1);
}
.header__callback-btn {
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px !important;
  border: 1px solid #008dd2;
  border-radius: 10px;
}
.header__callback-btn:hover, .header__callback-btn:focus {
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 10px 0;
  }
  .header__navbar-list {
    gap: 15px;
  }
  .header__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.callback__modal {
  background: #01070F !important;
}
.callback__header {
  border-bottom: 1px solid #008dd2;
}
.callback__dropdown-btn {
  border: 1px solid #008dd2;
  color: #fff;
  box-shadow: 0px 0px 15px 0px #000, 0px 0px 5px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
  transition: box-shadow 1s ease-in-out;
}
.callback__dropdown-btn:hover, .callback__dropdown-btn:focus {
  border: 1px solid #008dd2;
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 14px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
}
.callback__footer {
  border-top: 1px solid #008dd2;
}
.callback__close-btn {
  border: 1px solid #008dd2;
  color: #888;
}
.callback__close-btn:hover, .callback__close-btn:focus {
  color: #CCC;
  border: 1px solid #008dd2;
}
.callback__apply-btn {
  border: 1px solid #008dd2;
  color: #fff;
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 5px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
  transition: box-shadow 1s ease-in-out;
}
.callback__apply-btn:hover, .callback__apply-btn:focus {
  border: 1px solid #008dd2;
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 14px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
}

.intro__wrapper {
  margin-top: 126px;
}
.intro__video {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .intro__wrapper {
    margin-top: 98px;
  }
}

.about-us--1 {
  background: #01070f;
  position: relative;
  z-index: 1;
}
.about-us--1__wrapper {
  padding-top: 85px;
}
.about-us--1__title {
  margin-bottom: 55px !important;
}
.about-us--1__right {
  padding-right: 56px;
}
.about-us--1__textbox {
  position: relative;
}
.about-us--1__bg-1 {
  position: absolute;
  top: 130px;
  left: -260px;
  z-index: 5;
}
@media (max-width: 768px) {
  .about-us--1__wrapper {
    padding-top: 25px;
  }
  .about-us--1__title {
    margin-bottom: 0px !important;
  }
  .about-us--1__right, .about-us--1__left {
    padding: 0;
    margin: 1.5rem 0;
  }
}

.about-us--2 {
  background: #01070f;
  position: relative;
  z-index: 5;
}
.about-us--2__left {
  padding-left: 56px;
}
.about-us--2__bg-2 {
  position: absolute;
  right: -35px;
  top: 140px;
  z-index: -1;
}
@media (max-width: 768px) {
  .about-us--2__left {
    padding: 0;
    margin: 1.5rem 0;
  }
}

.about-us--3 {
  background: #01070f;
}
.about-us--3__right {
  padding-right: 56px;
}
.about-us--3__img {
  position: relative;
  z-index: 10;
}
.about-us--3__bg-3 {
  position: absolute;
  top: 380px;
  left: -230px;
  z-index: 1;
}
@media (max-width: 768px) {
  .about-us--3__right {
    padding: 0;
    margin: 1.5rem 0;
  }
  .about-us--3__wrapper {
    padding-bottom: 25px;
  }
}

.services {
  background: #01070f;
}
.services__wrapper {
  padding: 90px 0 95px;
}
.services__bg-1 {
  position: absolute;
  top: -110px;
  right: -20px;
  z-index: 5;
}
.services__bg-2 {
  position: absolute;
  top: 320px;
  left: -290px;
  z-index: 5;
}
.services__title {
  margin-bottom: 40px;
}
.services__list {
  position: relative;
  z-index: 6;
  counter-reset: item;
  list-style: none;
  padding-left: 0;
}
.services__list-item {
  position: relative;
  margin-bottom: 30px;
}
.services__list-item::before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: 45px;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 700;
  line-height: 122.682%;
}
.services__item-wrapper {
  position: relative;
  padding: 10px 20px 10px 60px;
  display: flex;
  align-items: center;
  min-height: 93px;
  height: 100%;
  border-radius: 21px;
  border: 1px solid #147fc5;
  background: #01070f;
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 5px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
  transition: box-shadow 1s ease-in-out;
}
.services__item-wrapper:hover, .services__item-wrapper:focus {
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 20px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
}
@media (max-width: 768px) {
  .services__wrapper {
    padding: 25px 0;
  }
}

.feedback {
  background: #000;
}
.feedback__wrapper {
  padding: 55px 0 100px;
}
.feedback__bg-1 {
  position: absolute;
  top: -130px;
  right: 95px;
  z-index: 5;
}
.feedback__bg-2 {
  position: absolute;
  top: 170px;
  left: -220px;
  z-index: 5;
}
.feedback__title {
  margin-bottom: 90px !important;
}
.feedback__card-wrapper {
  padding: 20px 20px 25px 25px;
  border-radius: 20px;
  border: 1px solid #008DD2;
  background: #FFF;
  color: #0D0802;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.feedback__card-header {
  margin-bottom: 17px;
}
.feedback__card-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.feedback__card-date {
  background: linear-gradient(180deg, #008DD2 0%, #4E59A2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}
.feedback__carousel-prev {
  width: 30px;
  height: 30px;
  top: -45px !important;
  left: 0 !important;
}
.feedback__carousel-next {
  width: 30px;
  height: 30px;
  top: -45px !important;
  left: 50px !important;
}
@media (max-width: 768px) {
  .feedback__wrapper {
    padding: 25px 0;
  }
  .feedback__title {
    margin-bottom: 50px !important;
  }
}

.contacts {
  background: #01070F;
}
.contacts__wrapper {
  padding: 75px 0;
}
.contacts__bg-1 {
  position: absolute;
  top: 0px;
  left: -235px;
  z-index: 5;
}
.contacts__title {
  margin-bottom: 60px;
}
.contacts__link {
  color: #FFF !important;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.contacts__text {
  padding-left: 17px;
  margin: 0;
}
@media (max-width: 768px) {
  .contacts__wrapper {
    padding: 25px 0;
  }
  .contacts__title {
    margin-bottom: 25px;
  }
  .contacts__link {
    font-size: 16px;
  }
}

.footer {
  background: #000;
}
.footer__wrapper {
  padding: 14px 0;
}
.footer__copyright {
  margin: 0;
}
.footer__link {
  color: #FFF !important;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-decoration-line: underline;
}

body {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.682%;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

b,
strong {
  font-size: 20px;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Изменение цвета фона */
::-webkit-scrollbar-track {
  background: #01070f;
}

/* Изменение цвета полосы */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  border-radius: 10px;
}

.container {
  max-width: 1210px;
  position: relative;
}

.main {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.btn-close {
  color: #fff !important;
}

@keyframes bg-1-anim-1 {
  0% {
    clip: rect(234px, 219px, 185px, 0);
  }
  14.2857142857% {
    clip: rect(11px, 219px, 251px, 0);
  }
  28.5714285714% {
    clip: rect(214px, 219px, 222px, 0);
  }
  42.8571428571% {
    clip: rect(228px, 219px, 250px, 0);
  }
  57.1428571429% {
    clip: rect(21px, 219px, 74px, 0);
  }
  71.4285714286% {
    clip: rect(232px, 219px, 214px, 0);
  }
  85.7142857143% {
    clip: rect(100px, 219px, 133px, 0);
  }
  100% {
    clip: rect(102px, 219px, 65px, 0);
  }
}
@keyframes bg-1-anim-2 {
  0% {
    clip: rect(146px, 219px, 111px, 0);
  }
  14.2857142857% {
    clip: rect(91px, 219px, 86px, 0);
  }
  28.5714285714% {
    clip: rect(63px, 219px, 80px, 0);
  }
  42.8571428571% {
    clip: rect(226px, 219px, 202px, 0);
  }
  57.1428571429% {
    clip: rect(64px, 219px, 116px, 0);
  }
  71.4285714286% {
    clip: rect(221px, 219px, 200px, 0);
  }
  85.7142857143% {
    clip: rect(127px, 219px, 78px, 0);
  }
  100% {
    clip: rect(-9px, 219px, 167px, 0);
  }
}
.glitch-1 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 219px;
  height: 254px;
}
.glitch-1 svg:nth-child(2),
.glitch-1 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-1 svg:nth-child(2) {
  fill: red;
  left: -3px;
  animation: bg-1-anim-1 2s infinite linear alternate-reverse;
}
.glitch-1 svg:nth-child(3) {
  fill: blue;
  left: 2px;
  animation: bg-1-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-2-anim-1 {
  0% {
    clip: rect(62px, 153px, 21px, 0);
  }
  20% {
    clip: rect(67px, 153px, 191px, 0);
  }
  40% {
    clip: rect(137px, 153px, 86px, 0);
  }
  60% {
    clip: rect(67px, 153px, 91px, 0);
  }
  80% {
    clip: rect(66px, 153px, 194px, 0);
  }
  100% {
    clip: rect(44px, 153px, 87px, 0);
  }
}
@keyframes bg-2-anim-2 {
  0% {
    clip: rect(64px, 153px, 36px, 0);
  }
  20% {
    clip: rect(59px, 153px, 156px, 0);
  }
  40% {
    clip: rect(85px, 153px, 197px, 0);
  }
  60% {
    clip: rect(147px, 153px, 191px, 0);
  }
  80% {
    clip: rect(94px, 153px, 126px, 0);
  }
  100% {
    clip: rect(113px, 153px, 124px, 0);
  }
}
.glitch-2 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 153px;
  height: 177px;
}
.glitch-2 svg:nth-child(2),
.glitch-2 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-2 svg:nth-child(2) {
  fill: red;
  left: -3px;
  animation: bg-2-anim-1 2s infinite linear alternate-reverse;
}
.glitch-2 svg:nth-child(3) {
  fill: blue;
  left: 2px;
  animation: bg-2-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-3-anim-1 {
  0% {
    clip: rect(108px, 187px, 214px, 0);
  }
  20% {
    clip: rect(-16px, 187px, 133px, 0);
  }
  40% {
    clip: rect(234px, 187px, 97px, 0);
  }
  60% {
    clip: rect(248px, 187px, 185px, 0);
  }
  80% {
    clip: rect(104px, 187px, 202px, 0);
  }
  100% {
    clip: rect(22px, 187px, 257px, 0);
  }
}
@keyframes bg-3-anim-2 {
  0% {
    clip: rect(4px, 187px, 70px, 0);
  }
  20% {
    clip: rect(154px, 187px, 93px, 0);
  }
  40% {
    clip: rect(80px, 187px, 151px, 0);
  }
  60% {
    clip: rect(56px, 187px, 61px, 0);
  }
  80% {
    clip: rect(-17px, 187px, 46px, 0);
  }
  100% {
    clip: rect(16px, 187px, 71px, 0);
  }
}
.glitch-3 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 187px;
  height: 274px;
}
.glitch-3 svg:nth-child(2),
.glitch-3 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-3 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-3-anim-1 2s infinite linear alternate-reverse;
}
.glitch-3 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-3-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-4-anim-1 {
  0% {
    clip: rect(102px, 189px, 186px, 0);
  }
  14.2857142857% {
    clip: rect(17px, 189px, 192px, 0);
  }
  28.5714285714% {
    clip: rect(49px, 189px, 65px, 0);
  }
  42.8571428571% {
    clip: rect(64px, 189px, 57px, 0);
  }
  57.1428571429% {
    clip: rect(128px, 189px, 46px, 0);
  }
  71.4285714286% {
    clip: rect(68px, 189px, 80px, 0);
  }
  85.7142857143% {
    clip: rect(92px, 189px, 27px, 0);
  }
  100% {
    clip: rect(18px, 189px, 197px, 0);
  }
}
@keyframes bg-4-anim-2 {
  0% {
    clip: rect(1px, 189px, 152px, 0);
  }
  14.2857142857% {
    clip: rect(106px, 189px, 57px, 0);
  }
  28.5714285714% {
    clip: rect(115px, 189px, 83px, 0);
  }
  42.8571428571% {
    clip: rect(32px, 189px, 171px, 0);
  }
  57.1428571429% {
    clip: rect(3px, 189px, 48px, 0);
  }
  71.4285714286% {
    clip: rect(30px, 189px, 202px, 0);
  }
  85.7142857143% {
    clip: rect(6px, 189px, 199px, 0);
  }
  100% {
    clip: rect(162px, 189px, 153px, 0);
  }
}
.glitch-4 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 189px;
  height: 189px;
}
.glitch-4 svg:nth-child(2),
.glitch-4 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-4 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-4-anim-1 2s infinite linear alternate-reverse;
}
.glitch-4 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-4-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-5-anim-1 {
  0% {
    clip: rect(-19px, 249px, 219px, 0);
  }
  14.2857142857% {
    clip: rect(325px, 249px, 138px, 0);
  }
  28.5714285714% {
    clip: rect(50px, 249px, 262px, 0);
  }
  42.8571428571% {
    clip: rect(54px, 249px, 412px, 0);
  }
  57.1428571429% {
    clip: rect(43px, 249px, 63px, 0);
  }
  71.4285714286% {
    clip: rect(362px, 249px, 367px, 0);
  }
  85.7142857143% {
    clip: rect(304px, 249px, 410px, 0);
  }
  100% {
    clip: rect(237px, 249px, 29px, 0);
  }
}
@keyframes bg-5-anim-2 {
  0% {
    clip: rect(328px, 249px, 398px, 0);
  }
  14.2857142857% {
    clip: rect(308px, 249px, 220px, 0);
  }
  28.5714285714% {
    clip: rect(357px, 249px, 52px, 0);
  }
  42.8571428571% {
    clip: rect(193px, 249px, 54px, 0);
  }
  57.1428571429% {
    clip: rect(-5px, 249px, 239px, 0);
  }
  71.4285714286% {
    clip: rect(43px, 249px, 412px, 0);
  }
  85.7142857143% {
    clip: rect(55px, 249px, 254px, 0);
  }
  100% {
    clip: rect(238px, 249px, 418px, 0);
  }
}
.glitch-5 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 249px;
  height: 405px;
}
.glitch-5 svg:nth-child(2),
.glitch-5 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-5 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-5-anim-1 2s infinite linear alternate-reverse;
}
.glitch-5 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-5-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-6-anim-1 {
  0% {
    clip: rect(155px, 281px, 139px, 0);
  }
  14.2857142857% {
    clip: rect(257px, 281px, 72px, 0);
  }
  28.5714285714% {
    clip: rect(29px, 281px, 278px, 0);
  }
  42.8571428571% {
    clip: rect(105px, 281px, 60px, 0);
  }
  57.1428571429% {
    clip: rect(89px, 281px, 170px, 0);
  }
  71.4285714286% {
    clip: rect(246px, 281px, 85px, 0);
  }
  85.7142857143% {
    clip: rect(218px, 281px, 66px, 0);
  }
  100% {
    clip: rect(4px, 281px, 99px, 0);
  }
}
@keyframes bg-6-anim-2 {
  0% {
    clip: rect(250px, 281px, 61px, 0);
  }
  14.2857142857% {
    clip: rect(83px, 281px, 152px, 0);
  }
  28.5714285714% {
    clip: rect(207px, 281px, 64px, 0);
  }
  42.8571428571% {
    clip: rect(172px, 281px, 115px, 0);
  }
  57.1428571429% {
    clip: rect(141px, 281px, 60px, 0);
  }
  71.4285714286% {
    clip: rect(63px, 281px, 126px, 0);
  }
  85.7142857143% {
    clip: rect(181px, 281px, 181px, 0);
  }
  100% {
    clip: rect(194px, 281px, 199px, 0);
  }
}
.glitch-6 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 281px;
  height: 278px;
}
.glitch-6 svg:nth-child(2),
.glitch-6 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-6 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-6-anim-1 2s infinite linear alternate-reverse;
}
.glitch-6 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-6-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-7-anim-1 {
  0% {
    clip: rect(119px, 384px, 238px, 0);
  }
  14.2857142857% {
    clip: rect(4px, 384px, 56px, 0);
  }
  28.5714285714% {
    clip: rect(67px, 384px, 200px, 0);
  }
  42.8571428571% {
    clip: rect(104px, 384px, 227px, 0);
  }
  57.1428571429% {
    clip: rect(0px, 384px, 256px, 0);
  }
  71.4285714286% {
    clip: rect(-3px, 384px, 137px, 0);
  }
  85.7142857143% {
    clip: rect(21px, 384px, 228px, 0);
  }
  100% {
    clip: rect(170px, 384px, 121px, 0);
  }
}
@keyframes bg-7-anim-2 {
  0% {
    clip: rect(55px, 384px, 114px, 0);
  }
  14.2857142857% {
    clip: rect(1px, 384px, 125px, 0);
  }
  28.5714285714% {
    clip: rect(29px, 384px, 281px, 0);
  }
  42.8571428571% {
    clip: rect(138px, 384px, 44px, 0);
  }
  57.1428571429% {
    clip: rect(9px, 384px, 86px, 0);
  }
  71.4285714286% {
    clip: rect(4px, 384px, 265px, 0);
  }
  85.7142857143% {
    clip: rect(200px, 384px, 207px, 0);
  }
  100% {
    clip: rect(92px, 384px, 255px, 0);
  }
}
.glitch-7 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 384px;
  height: 261px;
}
.glitch-7 svg:nth-child(2),
.glitch-7 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-7 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-7-anim-1 2s infinite linear alternate-reverse;
}
.glitch-7 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-7-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-8-anim-1 {
  0% {
    clip: rect(42px, 112px, 37px, 0);
  }
  14.2857142857% {
    clip: rect(44px, 112px, 138px, 0);
  }
  28.5714285714% {
    clip: rect(24px, 112px, 67px, 0);
  }
  42.8571428571% {
    clip: rect(61px, 112px, 123px, 0);
  }
  57.1428571429% {
    clip: rect(92px, 112px, 91px, 0);
  }
  71.4285714286% {
    clip: rect(70px, 112px, 104px, 0);
  }
  85.7142857143% {
    clip: rect(26px, 112px, 32px, 0);
  }
  100% {
    clip: rect(101px, 112px, 104px, 0);
  }
}
@keyframes bg-8-anim-2 {
  0% {
    clip: rect(73px, 112px, 119px, 0);
  }
  14.2857142857% {
    clip: rect(90px, 112px, 112px, 0);
  }
  28.5714285714% {
    clip: rect(72px, 112px, 90px, 0);
  }
  42.8571428571% {
    clip: rect(54px, 112px, 109px, 0);
  }
  57.1428571429% {
    clip: rect(100px, 112px, 128px, 0);
  }
  71.4285714286% {
    clip: rect(-18px, 112px, 90px, 0);
  }
  85.7142857143% {
    clip: rect(72px, 112px, 127px, 0);
  }
  100% {
    clip: rect(75px, 112px, 32px, 0);
  }
}
.glitch-8 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 112px;
  height: 121px;
}
.glitch-8 svg:nth-child(2),
.glitch-8 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-8 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-8-anim-1 2s infinite linear alternate-reverse;
}
.glitch-8 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-8-anim-2 3s infinite linear alternate-reverse;
}

@media (max-width: 1200px) {
  .animated,
  .animated-logo {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  b,
  strong {
    font-size: 16px;
  }
}