@charset "UTF-8";
.header {
  background-color: #000;
}
.header__wrapper {
  padding: 24px 0;
}
.header__collapse {
  justify-content: end;
  align-items: center;
}
.header__burger-icon {
  transition: all 0.5s ease-in-out;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25 ' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16' %3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z' /%3E%3C/svg%3E");
}
.header__burger-icon--active {
  transition: all 0.5s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}
.header__navbar-list {
  gap: 57px;
}
.header__navlink {
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.header__list-item {
  transition: all 1s ease-in-out;
}
.header__list-item:hover, .header__list-item:focus {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 10px 0;
  }
  .header__navbar-list {
    gap: 15px;
  }
  .header__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.intro__wrapper {
  margin-top: 126px;
}
.intro__video {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .intro__wrapper {
    margin-top: 98px;
  }
}

.about-us--1 {
  background: #01070f;
  position: relative;
  z-index: 1;
}
.about-us--1__wrapper {
  padding-top: 85px;
}
.about-us--1__title {
  margin-bottom: 55px !important;
}
.about-us--1__right {
  padding-right: 56px;
}
.about-us--1__textbox {
  position: relative;
}
.about-us--1__bg-1 {
  position: absolute;
  top: 130px;
  left: -260px;
  z-index: 5;
}
@media (max-width: 768px) {
  .about-us--1__wrapper {
    padding-top: 25px;
  }
  .about-us--1__title {
    margin-bottom: 0px !important;
  }
  .about-us--1__right, .about-us--1__left {
    padding: 0;
    margin: 1.5rem 0;
  }
}

.about-us--2 {
  background: #01070f;
  position: relative;
  z-index: 5;
}
.about-us--2__left {
  padding-left: 56px;
}
.about-us--2__bg-2 {
  position: absolute;
  right: -35px;
  top: 140px;
  z-index: -1;
}
@media (max-width: 768px) {
  .about-us--2__left {
    padding: 0;
    margin: 1.5rem 0;
  }
}

.about-us--3 {
  background: #01070f;
}
.about-us--3__right {
  padding-right: 56px;
}
.about-us--3__img {
  position: relative;
  z-index: 10;
}
.about-us--3__bg-3 {
  position: absolute;
  top: 380px;
  left: -230px;
  z-index: 1;
}
@media (max-width: 768px) {
  .about-us--3__right {
    padding: 0;
    margin: 1.5rem 0;
  }
  .about-us--3__wrapper {
    padding-bottom: 25px;
  }
}

.services {
  background: #01070f;
}
.services__wrapper {
  padding: 90px 0 95px;
}
.services__bg-1 {
  position: absolute;
  top: -110px;
  right: -20px;
  z-index: 5;
}
.services__bg-2 {
  position: absolute;
  top: 320px;
  left: -290px;
  z-index: 5;
}
.services__title {
  margin-bottom: 40px;
}
.services__list {
  position: relative;
  z-index: 6;
  counter-reset: item;
  list-style: none;
  padding-left: 0;
}
.services__list-item {
  position: relative;
  margin-bottom: 30px;
}
.services__list-item::before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: 45px;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 700;
  line-height: 122.682%;
}
.services__item-wrapper {
  position: relative;
  padding: 10px 20px 10px 60px;
  display: flex;
  align-items: center;
  min-height: 93px;
  height: 100%;
  border-radius: 21px;
  border: 1px solid #147fc5;
  background: #01070f;
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 5px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
  transition: box-shadow 1s ease-in-out;
}
.services__item-wrapper:hover, .services__item-wrapper:focus {
  box-shadow: 0px 0px 18px 0px #000, 0px 0px 20px 0px #147fc5, 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
}
@media (max-width: 768px) {
  .services__wrapper {
    padding: 25px 0;
  }
}

.feedback {
  background: #000;
}
.feedback__wrapper {
  padding: 55px 0 100px;
}
.feedback__bg-1 {
  position: absolute;
  top: -130px;
  right: 95px;
  z-index: 5;
}
.feedback__bg-2 {
  position: absolute;
  top: 170px;
  left: -220px;
  z-index: 5;
}
.feedback__title {
  margin-bottom: 90px !important;
}
.feedback__card-wrapper {
  padding: 20px 20px 25px 25px;
  border-radius: 20px;
  border: 1px solid #008DD2;
  background: #FFF;
  color: #0D0802;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.feedback__card-header {
  margin-bottom: 17px;
}
.feedback__card-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.feedback__card-date {
  background: linear-gradient(180deg, #008DD2 0%, #4E59A2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}
.feedback__carousel-prev {
  width: 30px;
  height: 30px;
  top: -45px !important;
  left: 0 !important;
}
.feedback__carousel-next {
  width: 30px;
  height: 30px;
  top: -45px !important;
  left: 50px !important;
}
@media (max-width: 768px) {
  .feedback__wrapper {
    padding: 25px 0;
  }
  .feedback__title {
    margin-bottom: 50px !important;
  }
}

.contacts {
  background: #01070F;
}
.contacts__wrapper {
  padding: 75px 0;
}
.contacts__bg-1 {
  position: absolute;
  top: 0px;
  left: -235px;
  z-index: 5;
}
.contacts__title {
  margin-bottom: 60px;
}
.contacts__link {
  color: #FFF !important;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.contacts__text {
  padding-left: 17px;
  margin: 0;
}
@media (max-width: 768px) {
  .contacts__wrapper {
    padding: 25px 0;
  }
  .contacts__title {
    margin-bottom: 25px;
  }
  .contacts__link {
    font-size: 16px;
  }
}

.footer {
  background: #000;
}
.footer__wrapper {
  padding: 14px 0;
}
.footer__copyright {
  margin: 0;
}
.footer__link {
  color: #FFF !important;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-decoration-line: underline;
}

body {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.682%;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

b,
strong {
  font-size: 20px;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Изменение цвета фона */
::-webkit-scrollbar-track {
  background: #01070f;
}

/* Изменение цвета полосы */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #008dd2 0%, #4e59a2 100%);
  border-radius: 10px;
}

.container {
  max-width: 1210px;
  position: relative;
}

.main {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

@keyframes bg-1-anim-1 {
  0% {
    clip: rect(183px, 219px, 107px, 0);
  }
  14.2857142857% {
    clip: rect(232px, 219px, 67px, 0);
  }
  28.5714285714% {
    clip: rect(9px, 219px, 185px, 0);
  }
  42.8571428571% {
    clip: rect(8px, 219px, 218px, 0);
  }
  57.1428571429% {
    clip: rect(112px, 219px, 28px, 0);
  }
  71.4285714286% {
    clip: rect(152px, 219px, 249px, 0);
  }
  85.7142857143% {
    clip: rect(83px, 219px, 242px, 0);
  }
  100% {
    clip: rect(19px, 219px, 145px, 0);
  }
}
@keyframes bg-1-anim-2 {
  0% {
    clip: rect(77px, 219px, 48px, 0);
  }
  14.2857142857% {
    clip: rect(88px, 219px, 176px, 0);
  }
  28.5714285714% {
    clip: rect(4px, 219px, 80px, 0);
  }
  42.8571428571% {
    clip: rect(24px, 219px, 30px, 0);
  }
  57.1428571429% {
    clip: rect(102px, 219px, 118px, 0);
  }
  71.4285714286% {
    clip: rect(151px, 219px, 106px, 0);
  }
  85.7142857143% {
    clip: rect(46px, 219px, 107px, 0);
  }
  100% {
    clip: rect(160px, 219px, 70px, 0);
  }
}
.glitch-1 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 219px;
  height: 254px;
}
.glitch-1 svg:nth-child(2),
.glitch-1 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-1 svg:nth-child(2) {
  fill: red;
  left: -3px;
  animation: bg-1-anim-1 2s infinite linear alternate-reverse;
}
.glitch-1 svg:nth-child(3) {
  fill: blue;
  left: 2px;
  animation: bg-1-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-2-anim-1 {
  0% {
    clip: rect(40px, 153px, 110px, 0);
  }
  20% {
    clip: rect(131px, 153px, 58px, 0);
  }
  40% {
    clip: rect(19px, 153px, 128px, 0);
  }
  60% {
    clip: rect(110px, 153px, 41px, 0);
  }
  80% {
    clip: rect(69px, 153px, 139px, 0);
  }
  100% {
    clip: rect(2px, 153px, 179px, 0);
  }
}
@keyframes bg-2-anim-2 {
  0% {
    clip: rect(124px, 153px, 172px, 0);
  }
  20% {
    clip: rect(148px, 153px, 173px, 0);
  }
  40% {
    clip: rect(-14px, 153px, 159px, 0);
  }
  60% {
    clip: rect(112px, 153px, 159px, 0);
  }
  80% {
    clip: rect(59px, 153px, 101px, 0);
  }
  100% {
    clip: rect(75px, 153px, 81px, 0);
  }
}
.glitch-2 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 153px;
  height: 177px;
}
.glitch-2 svg:nth-child(2),
.glitch-2 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-2 svg:nth-child(2) {
  fill: red;
  left: -3px;
  animation: bg-2-anim-1 2s infinite linear alternate-reverse;
}
.glitch-2 svg:nth-child(3) {
  fill: blue;
  left: 2px;
  animation: bg-2-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-3-anim-1 {
  0% {
    clip: rect(94px, 187px, 72px, 0);
  }
  20% {
    clip: rect(246px, 187px, 235px, 0);
  }
  40% {
    clip: rect(134px, 187px, 255px, 0);
  }
  60% {
    clip: rect(205px, 187px, 243px, 0);
  }
  80% {
    clip: rect(35px, 187px, 206px, 0);
  }
  100% {
    clip: rect(214px, 187px, 235px, 0);
  }
}
@keyframes bg-3-anim-2 {
  0% {
    clip: rect(40px, 187px, 78px, 0);
  }
  20% {
    clip: rect(15px, 187px, 124px, 0);
  }
  40% {
    clip: rect(134px, 187px, 36px, 0);
  }
  60% {
    clip: rect(246px, 187px, 32px, 0);
  }
  80% {
    clip: rect(176px, 187px, 23px, 0);
  }
  100% {
    clip: rect(117px, 187px, 112px, 0);
  }
}
.glitch-3 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 187px;
  height: 274px;
}
.glitch-3 svg:nth-child(2),
.glitch-3 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-3 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-3-anim-1 2s infinite linear alternate-reverse;
}
.glitch-3 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-3-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-4-anim-1 {
  0% {
    clip: rect(77px, 189px, 160px, 0);
  }
  14.2857142857% {
    clip: rect(125px, 189px, 43px, 0);
  }
  28.5714285714% {
    clip: rect(78px, 189px, 98px, 0);
  }
  42.8571428571% {
    clip: rect(14px, 189px, 30px, 0);
  }
  57.1428571429% {
    clip: rect(-12px, 189px, 28px, 0);
  }
  71.4285714286% {
    clip: rect(162px, 189px, 73px, 0);
  }
  85.7142857143% {
    clip: rect(55px, 189px, 34px, 0);
  }
  100% {
    clip: rect(154px, 189px, 65px, 0);
  }
}
@keyframes bg-4-anim-2 {
  0% {
    clip: rect(108px, 189px, 126px, 0);
  }
  14.2857142857% {
    clip: rect(53px, 189px, 138px, 0);
  }
  28.5714285714% {
    clip: rect(10px, 189px, 135px, 0);
  }
  42.8571428571% {
    clip: rect(152px, 189px, 82px, 0);
  }
  57.1428571429% {
    clip: rect(108px, 189px, 22px, 0);
  }
  71.4285714286% {
    clip: rect(123px, 189px, 123px, 0);
  }
  85.7142857143% {
    clip: rect(124px, 189px, 65px, 0);
  }
  100% {
    clip: rect(16px, 189px, 119px, 0);
  }
}
.glitch-4 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 189px;
  height: 189px;
}
.glitch-4 svg:nth-child(2),
.glitch-4 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-4 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-4-anim-1 2s infinite linear alternate-reverse;
}
.glitch-4 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-4-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-5-anim-1 {
  0% {
    clip: rect(368px, 249px, 285px, 0);
  }
  14.2857142857% {
    clip: rect(13px, 249px, 420px, 0);
  }
  28.5714285714% {
    clip: rect(96px, 249px, 31px, 0);
  }
  42.8571428571% {
    clip: rect(150px, 249px, 55px, 0);
  }
  57.1428571429% {
    clip: rect(126px, 249px, 335px, 0);
  }
  71.4285714286% {
    clip: rect(76px, 249px, 202px, 0);
  }
  85.7142857143% {
    clip: rect(138px, 249px, 101px, 0);
  }
  100% {
    clip: rect(123px, 249px, 324px, 0);
  }
}
@keyframes bg-5-anim-2 {
  0% {
    clip: rect(89px, 249px, 271px, 0);
  }
  14.2857142857% {
    clip: rect(269px, 249px, 62px, 0);
  }
  28.5714285714% {
    clip: rect(338px, 249px, 377px, 0);
  }
  42.8571428571% {
    clip: rect(313px, 249px, 130px, 0);
  }
  57.1428571429% {
    clip: rect(67px, 249px, 360px, 0);
  }
  71.4285714286% {
    clip: rect(1px, 249px, 218px, 0);
  }
  85.7142857143% {
    clip: rect(373px, 249px, 218px, 0);
  }
  100% {
    clip: rect(355px, 249px, 52px, 0);
  }
}
.glitch-5 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 249px;
  height: 405px;
}
.glitch-5 svg:nth-child(2),
.glitch-5 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-5 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-5-anim-1 2s infinite linear alternate-reverse;
}
.glitch-5 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-5-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-6-anim-1 {
  0% {
    clip: rect(-2px, 281px, 97px, 0);
  }
  14.2857142857% {
    clip: rect(16px, 281px, 33px, 0);
  }
  28.5714285714% {
    clip: rect(174px, 281px, 264px, 0);
  }
  42.8571428571% {
    clip: rect(196px, 281px, 206px, 0);
  }
  57.1428571429% {
    clip: rect(256px, 281px, 95px, 0);
  }
  71.4285714286% {
    clip: rect(45px, 281px, 96px, 0);
  }
  85.7142857143% {
    clip: rect(117px, 281px, 79px, 0);
  }
  100% {
    clip: rect(187px, 281px, 41px, 0);
  }
}
@keyframes bg-6-anim-2 {
  0% {
    clip: rect(81px, 281px, 23px, 0);
  }
  14.2857142857% {
    clip: rect(126px, 281px, 72px, 0);
  }
  28.5714285714% {
    clip: rect(182px, 281px, 242px, 0);
  }
  42.8571428571% {
    clip: rect(-4px, 281px, 245px, 0);
  }
  57.1428571429% {
    clip: rect(201px, 281px, 230px, 0);
  }
  71.4285714286% {
    clip: rect(202px, 281px, 177px, 0);
  }
  85.7142857143% {
    clip: rect(96px, 281px, 264px, 0);
  }
  100% {
    clip: rect(35px, 281px, 210px, 0);
  }
}
.glitch-6 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 281px;
  height: 278px;
}
.glitch-6 svg:nth-child(2),
.glitch-6 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-6 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-6-anim-1 2s infinite linear alternate-reverse;
}
.glitch-6 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-6-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-7-anim-1 {
  0% {
    clip: rect(197px, 384px, 222px, 0);
  }
  14.2857142857% {
    clip: rect(-16px, 384px, 264px, 0);
  }
  28.5714285714% {
    clip: rect(190px, 384px, 142px, 0);
  }
  42.8571428571% {
    clip: rect(182px, 384px, 108px, 0);
  }
  57.1428571429% {
    clip: rect(199px, 384px, 70px, 0);
  }
  71.4285714286% {
    clip: rect(13px, 384px, 129px, 0);
  }
  85.7142857143% {
    clip: rect(68px, 384px, 173px, 0);
  }
  100% {
    clip: rect(189px, 384px, 61px, 0);
  }
}
@keyframes bg-7-anim-2 {
  0% {
    clip: rect(218px, 384px, 84px, 0);
  }
  14.2857142857% {
    clip: rect(112px, 384px, 127px, 0);
  }
  28.5714285714% {
    clip: rect(156px, 384px, 115px, 0);
  }
  42.8571428571% {
    clip: rect(44px, 384px, 191px, 0);
  }
  57.1428571429% {
    clip: rect(106px, 384px, 179px, 0);
  }
  71.4285714286% {
    clip: rect(205px, 384px, 139px, 0);
  }
  85.7142857143% {
    clip: rect(96px, 384px, 115px, 0);
  }
  100% {
    clip: rect(33px, 384px, 261px, 0);
  }
}
.glitch-7 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 384px;
  height: 261px;
}
.glitch-7 svg:nth-child(2),
.glitch-7 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-7 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-7-anim-1 2s infinite linear alternate-reverse;
}
.glitch-7 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-7-anim-2 3s infinite linear alternate-reverse;
}

@keyframes bg-8-anim-1 {
  0% {
    clip: rect(83px, 112px, 25px, 0);
  }
  14.2857142857% {
    clip: rect(39px, 112px, 116px, 0);
  }
  28.5714285714% {
    clip: rect(38px, 112px, 102px, 0);
  }
  42.8571428571% {
    clip: rect(74px, 112px, 57px, 0);
  }
  57.1428571429% {
    clip: rect(9px, 112px, 119px, 0);
  }
  71.4285714286% {
    clip: rect(-17px, 112px, 36px, 0);
  }
  85.7142857143% {
    clip: rect(-7px, 112px, 86px, 0);
  }
  100% {
    clip: rect(-9px, 112px, 22px, 0);
  }
}
@keyframes bg-8-anim-2 {
  0% {
    clip: rect(16px, 112px, 44px, 0);
  }
  14.2857142857% {
    clip: rect(42px, 112px, 103px, 0);
  }
  28.5714285714% {
    clip: rect(53px, 112px, 127px, 0);
  }
  42.8571428571% {
    clip: rect(83px, 112px, 82px, 0);
  }
  57.1428571429% {
    clip: rect(73px, 112px, 124px, 0);
  }
  71.4285714286% {
    clip: rect(94px, 112px, 95px, 0);
  }
  85.7142857143% {
    clip: rect(-18px, 112px, 100px, 0);
  }
  100% {
    clip: rect(64px, 112px, 94px, 0);
  }
}
.glitch-8 svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: transparent;
  background: transparent;
  width: 112px;
  height: 121px;
}
.glitch-8 svg:nth-child(2),
.glitch-8 svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-8 svg:nth-child(2) {
  fill: transparent;
  left: -3px;
  animation: bg-8-anim-1 2s infinite linear alternate-reverse;
}
.glitch-8 svg:nth-child(3) {
  fill: transparent;
  left: 2px;
  animation: bg-8-anim-2 3s infinite linear alternate-reverse;
}

@media (max-width: 1200px) {
  .animated,
  .animated-logo {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  b,
  strong {
    font-size: 16px;
  }
}