.about-us--1 {
  background: #01070f;
  position: relative;
  z-index: 1;

  &__wrapper {
    padding-top: 85px;
  }

  &__title {
    margin-bottom: 55px !important;
  }

  &__right {
    padding-right: 56px;
  }

  &__textbox {
    position: relative;
  }

  &__bg-1 {
    position: absolute;
    top: 130px;
    left: -260px;
    z-index: 5;
  }

  @media (max-width: 768px) {
    &__wrapper {
      padding-top: 25px;
    }

    &__title {
      margin-bottom: 0px !important;
    }

    &__right,
    &__left {
      padding: 0;
      margin: 1.5rem 0;
    }
  }
}

.about-us--2 {
  background: #01070f;
  position: relative;
  z-index: 5;

  &__left {
    padding-left: 56px;
  }

  &__bg-2 {
    position: absolute;
    right: -35px;
    top: 140px;
    z-index: -1;
  }

  @media (max-width: 768px) {
    &__left {
      padding: 0;
      margin: 1.5rem 0;
    }
  }
}

.about-us--3 {
  background: #01070f;

  &__right {
    padding-right: 56px;
  }

  &__img {
    position: relative;
    z-index: 10;
  }

  &__bg-3 {
    position: absolute;
    top: 380px;
    left: -230px;
    z-index: 1;
  }

  @media (max-width: 768px) {
    &__right {
      padding: 0;
      margin: 1.5rem 0;
    }

    &__wrapper {
      padding-bottom: 25px;
    }
  }
}
