@import "../var";

.about-us {
  background: #01070F;

  &__wrapper {
    padding-top: 85px;
  }

  &__title {
    margin-bottom: 55px !important;
  }

  &__right {
    padding-right: 28px;
  }

  &__left {
    padding-left: 28px;
  }

  @media (max-width: 768px) {
    &__wrapper {
      padding: 25px 0;
    }

    &__title {
      margin-bottom: 0px !important;
    }

    &__right,
    &__left {
      padding: 0;
      margin: 1.5rem 0;
    }
  }
}