.feedback {
  background: #000;

  &__wrapper {
    padding: 55px 0 100px;
  }

  &__bg-1 {
    position: absolute;
    top: -180px;
    right: -300px;
    z-index: 5;
  }

  &__bg-1::after {
    content: url("data:image/svg+xml,%3Csvg width='384' height='261' viewBox='0 0 384 261' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 135L8 245.831L118 217L36 135Z' stroke='%23147FC5' stroke-width='11.1692' stroke-linecap='round'/%3E%3Cpath d='M104.8 216.046C104.8 224.271 111.468 230.938 119.692 230.938C127.917 230.938 134.585 224.271 134.585 216.046C134.585 207.821 127.917 201.154 119.692 201.154C111.468 201.154 104.8 207.821 104.8 216.046ZM156.923 15C156.923 23.2248 163.591 29.8923 171.815 29.8923C180.04 29.8923 186.708 23.2248 186.708 15C186.708 6.77521 180.04 0.107693 171.815 0.107693C163.591 0.107693 156.923 6.77521 156.923 15ZM122.395 216.747L174.518 15.7008L169.113 14.2992L116.989 215.345L122.395 216.747Z' fill='%23147FC5'/%3E%3Cpath d='M175.539 15L34.0618 130.415L123.416 216.046L376.585 257L175.539 15Z' stroke='%23147FC5' stroke-width='5.58462' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }

  &__bg-2 {
    position: absolute;
    top: 170px;
    left: -220px;
    z-index: 5;
  }

  &__bg-2::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='121' viewBox='0 0 112 121' fill='none'%3E%3Cpath d='M104.099 9.82867L11.5693 48.4604L89.66 110.519L104.099 9.82867Z' stroke='%23147FC5' stroke-width='11.1692' stroke-linecap='round'/%3E%3C/svg%3E");
  }

  &__title {
    margin-bottom: 90px !important;
  }
  
  &__card-wrapper {
    padding: 20px 20px 25px 25px;
    border-radius: 20px;
    border: 1px solid #008DD2;
    background: #FFF;
    color: #0D0802;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  &__card-header {
    margin-bottom: 17px;
  }

  &__card-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__card-date {
    background: linear-gradient(180deg, #008DD2 0%, #4E59A2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
  }

  &__carousel-prev {
    width: 30px;
    height: 30px;
    top: -45px !important;
    left: 0 !important;
  }

  &__carousel-next {
    width: 30px;
    height: 30px;
    top: -45px !important;
    left: 50px !important;
  }

  @media (max-width: 768px) {
    &__wrapper {
      padding: 25px 0;
    }

    &__title {
      margin-bottom: 50px !important;
    }
  }
}