@import "../var";

.intro {
  &__wrapper {
    margin-top: 126px;
  }
  
  &__video {
    display: block;
    width: 100%;
  }

  @media (max-width: 768px) {
    &__wrapper {
      margin-top: 98px;
    }
  }
}